.tan {
	background-color: #ede0ce;
	width: 100%;
}

.bodytext {
	font-family: "Roboto";
	font-weight: 100;
	font-size: 50px;
	line-height: 1.4em;
	vertical-align: middle;
	padding: 50px 0;	
}

.bodytext2 {
	font-family: "Roboto";
	font-weight: 100;
	font-size: 30px;
	line-height: 1.03em;
	text-align: right;
	padding: 50px 0;
}

.topwrap {
	background-color: black;
	background-color: #ede0ce;
	padding: 10px 0 20px 0;
}

a.brand {
	font-family: "Roboto";
}

div.navbar-inner {
	transition-duration: 2s;
	background-color: #ede0ce !important;
	color: #161616 !important;
	font-family: "Old Standard TT";
	box-shadow: 0, 0, 0, black !important;
}

.navbar.li.a {
	color: black;
}

h1 {
	font-size: 60px !important;
	line-height: 1.1em !important;
	color: #B00000 !important;
	font-family: "Finger Paint" !important;
}

.bigbrand {
	width: 100%;
	font-family: "Old Standard TT";
	font-size: 60px;
	text-align: center;	
	line-height: 1em;
	color: #161616;
	letter-spacing: 2px;
	margin: 10px auto;
}

.oneliner {
	font-family: "Old Standard TT";
	font-size: 17;
	line-height: 1em;
	color: #161616;
	font-weight: 300;
	text-align: center;
	font-style: italic;
	letter-spacing: .1em;
}

.black {
	background-color: black;
	color: white;
	margin-top: 100px;
	padding: 50px;
}
#sticky {
}
#sticky.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
}

